.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header-logo {
  height: 23px;
  object-fit: contain;
  margin-left: 25px;
}

.header-input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid black;
  position: relative;
}

/* .header-mic-icon {
  position: absolute;
  right: -40px;
} */

.header-search-icon {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.header-icon {
  margin-right: 8px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-input > input {
  flex: 1;
  border: none;
}
