.sideBarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.sidebarrow-icon {
  color: #606060;
  font-size: x-large !important;
}

.sidebarrow-title {
  flex: 1;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
}

.sideBarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sideBarRow:hover > .sidebarrow-icon {
  color: red;
}

.sideBarRow:hover > .sidebarrow-title {
  font-weight: bold;
}

.sideBarRow.selected {
  background-color: lightgray;
}

.sideBarRow.selected > .sidebarrow-icon {
  color: red;
}

.sideBarRow.selected > .sidebarrow-title {
  font-weight: bold;
}
